
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: white;
  background-color: #000;
}


.hero-container {
  background-image: url('images/Object.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 80px;
  color: white;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

nav img {
  height: 35px; 
}

nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
}


.hero-container main section {
  display: flex;
  flex-direction: column;
  gap: 80px;
}


.hero-container main section > div:first-child {
  text-align: center;
}

.hero-container h1 {
  font-size: 120px;
  font-weight: bold;
  letter-spacing: -4px;
  margin-bottom: 20px;
}

.hero-container span {
  margin: 0 10px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
}

.hero-container button {
  margin-top: 40px;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #C271FF;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.hero-container h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 40px;
}


.hero-container main section > div:last-child > div {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  text-align: center;
}

.hero-container main section > div:last-child > div > div {
  max-width: 150px;
}

.hero-container main section img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.hero-container h3 {
  font-size: 16px;
  font-weight: bold;
}

.hero-container p {
  font-size: 14px;
  font-style: italic;
}



.quote {
    background-color: #C271FF;
    color: white;
    padding: 50px 20px;
}

.quote-container {
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    gap: 40px;
}

.qoute-text {
    flex: 1;
    font-style: italic;
    font-size: 18px;
    text-align: left;
    line-height: 1.5;
}

.author {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.author-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.author-details {
    text-align: left;
    margin-top: 10px;
}

.author-name {
    font-weight: bold;
    margin: 0;
}

.author-title {
    font-weight: lighter;
    font-style: italic;
    margin: 0;
}

.videos {
  background-color: #F5F5F5;
  padding: 80px 20px;
  text-align: center;
}

.videos h2{
  color: #000;
  font-size: 32px;
  margin-bottom: 60px;
}
 .videos h3 {
  color: black;
  font-style: bold;
  
 }

 .video-user h4 {
  margin: 0;
  font-size: 14px;
  color: black;
  font-style: bold;
 }

 .videos p {
  color: #000;
  font-weight: 100;
 }

 

.video-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.video-card {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}
.video-thumb {
  position: relative;
}

.video-thumb img:first-child {
  width: 100%;
  border-radius: 5px;
}


.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;         
  transform: translate(-50%, -50%);
}
 .video-user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0 10px;
 }

 .video-user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.video-rating {
  color: #c271ff;
  font-size: 14px ;
  margin-bottom: 5px;
}


.video-duration {
  font-size: 12px;
  color: #999;

}

.membership {
  background-color: rgb(0, 0, 22);
  padding: 80px 20px;
  text-align:center;
}


.membership h2{
  font-size: 32px;
  margin-bottom: 60px;

}



.membership-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto 60px;
}

 .membership-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
 }



 .membership-card img {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
 }

 .membership-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
 }


 .membership-card p {
  font-size: 14px;
  color: #c5c3c3;
  line-height: 1.4;
  max-width: 220px; 
 }



 .membership-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}


.membership-btn-wrapper {
  grid-column: 2 / span 2;   
  display: flex;
  justify-content: center;
}

.register-btn {
  background-color: #C271FF;
  color: white;
  border: none;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.register-btn:hover {
  background-color: #a757d6;
}


 .faq {
  background-color: white;
  padding: 80px 20px;
  text-align: center;
 }


 .faq h2 {
  font-size: 32px;
  color: #071629;
  font-weight: bold;
  margin-bottom: 60px;
 }

 .faq-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px 80px;
  max-width: 900px;
  margin: 0 auto;
  text-align: left;

 }


 .faq-item p {
  font-size: 14px;
  color: #7e7e7e;
  line-height: 1.5;
 }

 .faq-item h3 {
  font-size: 16px;
  color: #071629;
  font-weight: bold;
  margin-bottom: 10px;

 }

 .faq-item p {
  font-size: 14px;
  color: #7e7e7e;
  line-height: 1.6;
 }

